*:not(:defined) > * {
    display: none;
}

* {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    background: white;
}

nav {
    z-index: 1000;
    position:absolute;
    top:100px;
    left: calc(50% - 250px);
}

nav a, footer {
    color:white;
}

footer {
    z-index: 1000;
    position:absolute;
    bottom:20px;
    right: 50px;
}
